<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/4.6.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/public.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js"></script>
</head>

<body>
<div class="container col-center-block center-block">
    <div class="row">
        <h2 style="text-align: center; width: 100%">单词本</h2>
    </div>
    <div class="row relative_top" >
        <div class="col-md-4"></div>

        <div class="col-md-6">
            <form action="/user/checkLogin" method="post">
                <div class="form-group col-md-offset-2">
                    <label class="label1" for="account">账号</label>
                    <input id="account" class="input-lg relative_left" name="account" type="text" required>
                </div>
                <div class="form-group col-md-offset-2">
                    <label class="label1" for="pwd">密码</label>
                    <input id="pwd" class="input-lg relative_left" name="pwd" type="password" required>
                </div>
                <div class="form-group col-md-offset-2">
                    <input class="btn btn-primary" type="submit" value="登录">
                </div>
            </form>
        </div>

        <div class="col-md-2"></div>
    </div>
</div>
</body>
</html>
