<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zyc.wordlistsp.mapper.ListMapper">
    <insert id="addWordToList">
        insert into WordListDB.word_in_list(uid, listname, word) values (#{uid}, #{listname}, #{word})
    </insert>

    <insert id="addListByUid">
        insert into WordListDB.__list_name(list_name, uid) values (#{name}, #{uid});
    </insert>

    <update id="addList" parameterType="String">
        insert into WordListDB.__list_name values (#{name});
        create table WordListDB.${name}
        (
            word varchar(30) not null unique
        )
    </update>

    <delete id="deleteList" parameterType="String">
        delete from  WordListDB.__list_name where list_name like #{name};
        drop table ${name};
    </delete>

    <select id="listAll" resultType="String">
        select * from WordListDB.__list_name
    </select>

    <select id="searchByName" resultType="String">
        select * from WordListDB.__list_name where uid=#{uid} and list_name like #{name}
    </select>

    <select id="listAllByListname" resultType="String">
        select word from WordListDB.word_in_list where uid=#{uid} and listname=#{listname};
    </select>

    <select id="searchByListnameInPage" resultType="java.lang.String">
        select word from WordListDB.word_in_list where uid=#{uid} and listname=#{listname} limit #{page}, #{limitation};
    </select>

    <select id="searchSizeByListname" resultType="java.lang.Integer">
        select count(*) from WordListDB.word_in_list where uid=#{uid} and listname=#{listname};
    </select>

    <select id="listAllByUid" resultType="String">
        select list_name from WordListDB.__list_name where uid=#{uid};
    </select>

    <delete id="deleteWordByName">
        delete from WordListDB.word_in_list where word = #{word} and uid=#{uid} and listname=#{list};
    </delete>
</mapper>
